1) Carrega bibliotecas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

2) Carrega dataset

In [2]:
caminho_dados = 'dados/acidentes.csv'

try:
    df = pd.read_csv(caminho_dados, sep=';', encoding='utf-8')
    print("CSV original lido com sucesso!")
except FileNotFoundError:
    print(f"Erro: Arquivo '{caminho_dados}' não encontrado. Verifique o caminho.")
except Exception as e:
    print(f"Ocorreu um erro: {e}")

CSV original lido com sucesso!

3) Entende dataframe

In [3]:
# Lista as cinco primeira linhas
print("\nCinco primeiras linhas:")
print(df.head())

# Mostra o número de linhas e colunas
print("\nDimensões do Dataset (linhas, colunas)")
print(df.shape)

# Mostra tipo de dados, valores não nulos
print("\nInformações gerais do DataFrame:")
df.info()

# Conta valores ausentes por coluna
print("\nContagem de Valores Ausentes por Coluna")
print(df.isnull().sum())

Cinco primeiras linhas:
         data_extracao  predial1  queda_arr                 data  feridos  \
0  2025-06-01 01:33:13       0.0        0.0  2020-10-17 00:00:00        1
1  2025-06-01 01:33:13     598.0        0.0  2020-01-01 00:00:00        1
2  2025-06-01 01:33:13    1271.0        0.0  2020-01-01 00:00:00        1
3  2025-06-01 01:33:13    1901.0        0.0  2020-01-02 00:00:00        2
4  2025-06-01 01:33:13    3302.0        0.0  2020-01-02 00:00:00        1

   feridos_gr  mortes  morte_post  fatais  auto  ...  longitude   latitude  \
0           0       0           0       0     3  ...   0.000000   0.000000
1           0       0           0       0     0  ...        NaN        NaN
2           1       0           0       0     1  ...        NaN        NaN
3           0       0           0       0     0  ...        NaN        NaN
4           0       0           0       0     1  ... -51.211535 -30.081535

                 log1              log2      tipo_acid       dia_sem  \
0    R MARCOS MOREIRA  R GASTON ENGLERT   ABALROAMENTO        SÁBADO
1  AV BENTO GONCALVES               NaN   ABALROAMENTO  QUARTA-FEIRA
2    AV INDEPENDENCIA               NaN  ATROPELAMENTO  QUARTA-FEIRA
3    AV EDUARDO PRADO               NaN  ATROPELAMENTO  QUINTA-FEIRA
4      AV TERESOPOLIS               NaN   ABALROAMENTO  QUINTA-FEIRA

               hora  noite_dia  regiao  consorcio
0  19:00:00.0000000      NOITE   NORTE        NaN
1  03:00:00.0000000      NOITE   LESTE        NaN
2  23:00:00.0000000      NOITE   LESTE        NaN
3  00:05:00.0000000      NOITE     SUL        NaN
4  09:00:00.0000000        DIA     SUL        NaN

[5 rows x 34 columns]

Dimensões do Dataset (linhas, colunas)
(69521, 34)

Informações gerais do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69521 entries, 0 to 69520
Data columns (total 34 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   data_extracao  69521 non-null  object
 1   predial1       65442 non-null  float64
 2   queda_arr      69521 non-null  float64
 3   data           69521 non-null  object
 4   feridos        69521 non-null  int64
 5   feridos_gr     69521 non-null  int64
 6   mortes         69521 non-null  int64
 7   morte_post     69521 non-null  int64
 8   fatais         69521 non-null  int64
 9   auto           69521 non-null  int64
 10  taxi           69521 non-null  int64
 11  lotacao        69521 non-null  int64
 12  onibus_urb     69521 non-null  int64
 13  onibus_met     69521 non-null  int64
 14  onibus_int     69521 non-null  int64
 15  caminhao       69521 non-null  int64
 16  moto           69521 non-null  int64
 17  carroca        69521 non-null  int64
 18  bicicleta      69521 non-null  int64
 19  outro          69521 non-null  int64
 20  cont_vit       69521 non-null  int64
 21  ups            69521 non-null  int64
 22  patinete       69521 non-null  int64
 23  idacidente     69521 non-null  int64
 24  longitude      59218 non-null  float64
 25  latitude       59218 non-null  float64
 26  log1           69471 non-null  object
 27  log2           19172 non-null  object
 28  tipo_acid      69521 non-null  object
 29  dia_sem        69521 non-null  object
 30  hora           68968 non-null  object
 31  noite_dia      69521 non-null  object
 32  regiao         69520 non-null  object
 33  consorcio      2207 non-null   object
dtypes: float64(4), int64(20), object(10)
memory usage: 18.0+ MB

Contagem de Valores Ausentes por Coluna
data_extracao        0
predial1          4079
queda_arr            0
data                 0
feridos              0
feridos_gr           0
mortes               0
morte_post           0
fatais               0
auto                 0
taxi                 0
lotacao              0
onibus_urb           0
onibus_met           0
onibus_int           0
caminhao             0
moto                 0
carroca              0
bicicleta            0
outro                0
cont_vit             0
ups                  0
patinete             0
idacidente           0
longitude        10303
latitude         10303
log1                50
log2             50349
tipo_acid            0
dia_sem              0
hora               553
noite_dia            0
regiao               1
consorcio        67314
dtype: int64

4) Limpa nomes colunas

In [19]:
# Remove espaços em branco no início/fim dos nomes das colunas (boa prática)
df.columns = df.columns.str.strip()

# Lista nome de colunas
print(df.columns)

Index(['data_extracao', 'predial1', 'queda_arr', 'data', 'feridos',
       'feridos_gr', 'mortes', 'morte_post', 'fatais', 'auto', 'taxi',
       'lotacao', 'onibus_urb', 'onibus_met', 'onibus_int', 'caminhao', 'moto',
       'carroca', 'bicicleta', 'outro', 'cont_vit', 'ups', 'patinete',
       'idacidente', 'longitude', 'latitude', 'log1', 'log2', 'tipo_acid',
       'dia_sem', 'hora', 'noite_dia', 'regiao', 'consorcio'],
      dtype='object')

5) Remove colunas 'data_extracao' e 'consorcio'

In [4]:
# Remove colunas 'data_extracao' e 'consorcio'
remover = ['data_extracao', 'consorcio']
existe = [col for col in remover if col in df.columns]

if existe:
    df = df.drop(columns=existe)

else:
    print("Nenhuma das colunas presente")

# Lista nome de colunas depois remoção
print(df.columns)

Index(['predial1', 'queda_arr', 'data', 'feridos', 'feridos_gr', 'mortes',
       'morte_post', 'fatais', 'auto', 'taxi', 'lotacao', 'onibus_urb',
       'onibus_met', 'onibus_int', 'caminhao', 'moto', 'carroca', 'bicicleta',
       'outro', 'cont_vit', 'ups', 'patinete', 'idacidente', 'longitude',
       'latitude', 'log1', 'log2', 'tipo_acid', 'dia_sem', 'hora', 'noite_dia',
       'regiao'],
      dtype='object')

6) Transforma tipos e remove inválidos

In [7]:
# Mostra tipo de dados, valores não nulos
print("\nInformações gerais do DataFrame:")
df.info()

# Converte 'data' para datetime
df['data'] = pd.to_datetime(df['data'], errors='coerce')
print("Coluna 'data' convertida com sucesso.")

# Cria coluna 'hora_acidente' como Int64 (permite NaN )
df['hora_acidente'] = pd.to_datetime(df['hora'], format='%H:%M:%S.%f', errors='coerce').dt.hour.astype('Int64')
print("Coluna 'hora' convertida com sucesso.")

print("\nInformações após:")
df.info()

Informações gerais do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69521 entries, 0 to 69520
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   predial1       65442 non-null  float64
 1   queda_arr      69521 non-null  float64
 2   data           69520 non-null  datetime64[ns]
 3   feridos        69521 non-null  int64
 4   feridos_gr     69521 non-null  int64
 5   mortes         69521 non-null  int64
 6   morte_post     69521 non-null  int64
 7   fatais         69521 non-null  int64
 8   auto           69521 non-null  int64
 9   taxi           69521 non-null  int64
 10  lotacao        69521 non-null  int64
 11  onibus_urb     69521 non-null  int64
 12  onibus_met     69521 non-null  int64
 13  onibus_int     69521 non-null  int64
 14  caminhao       69521 non-null  int64
 15  moto           69521 non-null  int64
 16  carroca        69521 non-null  int64
 17  bicicleta      69521 non-null  int64
 18  outro          69521 non-null  int64
 19  cont_vit       69521 non-null  int64
 20  ups            69521 non-null  int64
 21  patinete       69521 non-null  int64
 22  idacidente     69521 non-null  int64
 23  longitude      59218 non-null  float64
 24  latitude       59218 non-null  float64
 25  log1           69471 non-null  object
 26  log2           19172 non-null  object
 27  tipo_acid      69521 non-null  object
 28  dia_sem        69521 non-null  object
 29  hora           68968 non-null  float64
 30  noite_dia      69521 non-null  object
 31  regiao         69520 non-null  object
 32  hora_acidente  0 non-null      float64
dtypes: datetime64[ns](1), float64(6), int64(20), object(6)
memory usage: 17.5+ MB
Coluna 'data' convertida com sucesso.
Coluna 'hora' convertida com sucesso.

Informações após:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69521 entries, 0 to 69520
Data columns (total 33 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   predial1       65442 non-null  float64
 1   queda_arr      69521 non-null  float64
 2   data           69520 non-null  datetime64[ns]
 3   feridos        69521 non-null  int64
 4   feridos_gr     69521 non-null  int64
 5   mortes         69521 non-null  int64
 6   morte_post     69521 non-null  int64
 7   fatais         69521 non-null  int64
 8   auto           69521 non-null  int64
 9   taxi           69521 non-null  int64
 10  lotacao        69521 non-null  int64
 11  onibus_urb     69521 non-null  int64
 12  onibus_met     69521 non-null  int64
 13  onibus_int     69521 non-null  int64
 14  caminhao       69521 non-null  int64
 15  moto           69521 non-null  int64
 16  carroca        69521 non-null  int64
 17  bicicleta      69521 non-null  int64
 18  outro          69521 non-null  int64
 19  cont_vit       69521 non-null  int64
 20  ups            69521 non-null  int64
 21  patinete       69521 non-null  int64
 22  idacidente     69521 non-null  int64
 23  longitude      59218 non-null  float64
 24  latitude       59218 non-null  float64
 25  log1           69471 non-null  object
 26  log2           19172 non-null  object
 27  tipo_acid      69521 non-null  object
 28  dia_sem        69521 non-null  object
 29  hora           68968 non-null  float64
 30  noite_dia      69521 non-null  object
 31  regiao         69520 non-null  object
 32  hora_acidente  0 non-null      Int64
dtypes: Int64(1), datetime64[ns](1), float64(5), int64(20), object(6)
memory usage: 17.6+ MB